# Exercise 04

* Task 1: At the supermarket (list methods)
* Task 2: At the ice cream shop (list/set/tuple methods)
* Tasks 3 & 4: `for` loops
* Tasks 5 & 6: `while` loops

***
## Task 1: At the supermarket


```python
shopping_list = ["onions", "milk", "bread", "butter", "rice", "vinger", "oil", "pineapple", "onions", "salt", "chicken", "parsley", "mint", "sugar", "onions"]
```

Above, we have defined a shopping list, and a snack list. Use list methods and the  operator to:
* add `"oranges"` to the shopping list
* add the `snacks` list to the shopping list (use `+` or `+=`, **not** `.append()`!)
* find out at which list position is the `"chicken"`
* remove `"butter"` from the shopping list (turns out we already have that at home)
* count how many times does `"onions"` appear on the list
* sort the shopping list alphabetically, and print it out
* make sure that every item appears only once by converting the list to a set, and saving it into the variable `shopping_set`.
* how many *unique* items are in our shopping set now?

**Solve Task 1**

In [1]:
# define the variables "shopping_list" and "snacks" by running this cell
shopping_list = [
    "onions", "milk", "bread", "butter", "rice", "vinegar", 
    "oil", "pineapple", "onions", "salt", "chips", "rice", 
    "chicken", "parsley", "mint", "oil", "sugar", "onions"
    ]
snacks = ["chocolate", "ice cream", "chips"]

In [9]:
shopping_list.append('oranges')
# add oranges

In [16]:
shopping_list+=snacks
# add snacks
shopping_list

['onions',
 'milk',
 'bread',
 'butter',
 'rice',
 'vinegar',
 'oil',
 'pineapple',
 'onions',
 'salt',
 'chips',
 'rice',
 'chicken',
 'parsley',
 'mint',
 'oil',
 'sugar',
 'onions',
 'oranges',
 'oranges',
 's',
 'n',
 'a',
 'c',
 'k',
 's',
 's',
 'n',
 'a',
 'c',
 'k',
 's',
 's',
 'n',
 'a',
 'c',
 'k',
 's',
 'chocolate',
 'ice cream',
 'chips',
 'chocolate',
 'ice cream',
 'chips']

In [18]:
# where is the chicken?
shopping_list.index('chicken')

12

In [20]:
# remove the butter
shopping_list.remove('butter')

In [21]:
# Count how many times "onions" is on the list
shopping_list.count('onions')

3

In [23]:
# sort the list alphabetically, and print it out
shopping_list.sort()
shopping_list

['a',
 'a',
 'a',
 'bread',
 'c',
 'c',
 'c',
 'chicken',
 'chips',
 'chips',
 'chips',
 'chocolate',
 'chocolate',
 'ice cream',
 'ice cream',
 'k',
 'k',
 'k',
 'milk',
 'mint',
 'n',
 'n',
 'n',
 'oil',
 'oil',
 'onions',
 'onions',
 'onions',
 'oranges',
 'oranges',
 'parsley',
 'pineapple',
 'rice',
 'rice',
 's',
 's',
 's',
 's',
 's',
 's',
 'salt',
 'sugar',
 'vinegar']

In [27]:
# convert into a shopping SET
set_shopping_list=set(shopping_list)
print(set_shopping_list)

{'oil', 'a', 'parsley', 'n', 'chicken', 'milk', 'ice cream', 'salt', 'sugar', 'chips', 'oranges', 'pineapple', 'rice', 'onions', 'k', 'vinegar', 'mint', 'c', 's', 'bread', 'chocolate'}

In [28]:
# number of unique items in a set = simply the length of the set
len(set_shopping_list)

21

***
## Task 2 - At the ice cream shop

You are the owner of an ice cream shop. Your employee who sells the ice cream is a data science student! They decided to write down all ice cream orders of the day in Python. Use `list/set/tuple methods` to find out:
* How many ice creams have been sold today?
* How many **unique** ice creams have been sold today? 
> **Note**: the orders are saved as tuples - and for the sake of this exercise, we assume that for ice cream uniqueness, the order matters: `('yoghurt', 'mint')` is **not** the same as `('mint', 'yoghurt')`
* How many customers have ordered the same flavor twice? (e.g. `("banana", banana")`)
* Which was the most popular ice cream combination? (There are several ways of finding out. **Hint**: it has been sold five times!)
* How many different ice cream flavours have been sold today?

In [29]:
# run this cell to define the icecream_sold variable
icecream_sold = [
    ('yoghurt', 'mint'), ('cookie', 'cookie'), ('caramel', 'yoghurt'), ('yoghurt', 'straciatella'), ('caramel', 'straciatella'),
    ('vanilla', 'yoghurt'), ('hazelnut', 'banana'), ('straciatella', 'straciatella'), ('cookie', 'cookie'), ('cookie', 'caramel'),
    ('banana', 'straciatella'), ('cheesecake', 'cookie'), ('chocolate', 'chocolate'), ('mint', 'hazelnut'), ('hazelnut', 'cheesecake'),
    ('caramel', 'vanilla'), ('yoghurt', 'mint'), ('cheesecake', 'vanilla'), ('chocolate', 'cookie'), ('mint', 'strawberry'), ('cookie', 'strawberry'),
    ('hazelnut', 'vanilla'), ('yoghurt', 'strawberry'), ('strawberry', 'chocolate'), ('cheesecake', 'cookie'), ('straciatella', 'vanilla'),
    ('caramel', 'banana'), ('mint', 'straciatella'), ('caramel', 'strawberry'), ('cookie', 'strawberry'), ('caramel', 'yoghurt'),
    ('strawberry', 'mint'), ('mint', 'hazelnut'), ('banana', 'hazelnut'), ('straciatella', 'banana'), ('mint', 'straciatella'),
    ('cheesecake', 'chocolate'), ('mint', 'yoghurt'), ('cookie', 'banana'), ('cheesecake', 'mint'), ('banana', 'straciatella'),
    ('mint', 'straciatella'), ('straciatella', 'straciatella'), ('cookie', 'mint'), ('cookie', 'straciatella'), ('banana', 'caramel'),
    ('mint', 'cheesecake'), ('chocolate', 'banana'), ('cheesecake', 'vanilla'), ('vanilla', 'yoghurt'), ('hazelnut', 'yoghurt'),
    ('hazelnut', 'cookie'), ('strawberry', 'cookie'), ('yoghurt', 'cheesecake'), ('cheesecake', 'banana'), ('vanilla', 'hazelnut'), 
    ('cookie', 'strawberry'), ('mint', 'straciatella'), ('cheesecake', 'vanilla'), ('cookie', 'strawberry'), ('cookie', 'strawberry')
]

In [40]:
# How many ice creams have been sold today?
len(icecream_sold)

61

In [42]:
# How many UNIQUE ice creams have been sold today?
set_icecream_sold=set(icecream_sold)
len(set_icecream_sold)

44

In [56]:
# How many customers have ordered the same flavour twice?
counter=0
for x in icecream_sold:
    if x[0]==x[1]:
        counter+=1
counter

5

In [58]:
# Which was the most popular ice cream combination? (if we already know that it has been sold exactly 5 times)

for x in icecream_sold:
    if icecream_sold.count(x)==5:
        print(x)
        break

('cookie', 'strawberry')

In [68]:
# How many different ice cream flavours have been sold?
flavors=set()
for x in icecream_sold:
    for y in x:
        flavors.add(y)
flavors

{'banana',
 'caramel',
 'cheesecake',
 'chocolate',
 'cookie',
 'hazelnut',
 'mint',
 'straciatella',
 'strawberry',
 'vanilla',
 'yoghurt'}

***
## Task 3

**(3a)** Write a function `count_A` that takes a string as an input and uses a `for` loop to count how many times the capital letter `A` appears in it. Test your function on the string `"THE CAPITAL OF MADAGASCAR IS ANTANANARIVO"` by asserting that it returns the expected number of letters.

**(3b)** Write a modified function, `count_Aa`, which counts both capitalized and small letters (`A` and `a`). Test your modified function on the string `"A change is as good as a rest"` by asserting that it returns the expected number of letters.

**Solve Task 3**

In [70]:
# 3a
def count_A(input_string):
    counter=0
    for x in input_string:
        if x=='A':
            counter+=1
    return counter

In [74]:
# check if you have implemented the function correctly with assert and the test string:
test_string = "THE CAPITAL OF MADAGASCAR IS ANTANANARIVO"
assert count_A(test_string)==10

In [76]:
# 3b
def count_Aa(input_string):
    counter=0
    for x in input_string:
        if x in ['A','a']:
            counter+=1
    return counter

In [79]:
# check if you have implemented the function correctly with assert and the test string:
test_string = "A change is as good as a rest"
assert count_Aa(test_string) ==5

***
## Task 4

**(4a)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all numbers from 0 to 500.

**(4b)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all **even** numbers from 0 to 500.

**(4c)** Use a `for` loop and the variable `my_sum` (initally set to 0) to calculate the sum of all **divisible by 7** numbers from 0 to 500.

> **Hint:** Use the modulo operator `%` for (4b) and (4c)

**Solve Task 4**

In [81]:
# 4a: sum of numbers from 0 to 500
my_sum=0
for x in range(0,501):
    my_sum+=x
my_sum

125250

In [82]:
# 4b: sum of all even numbers from 0 to 500
# same as above, but using a conditional and the modulo %:
my_sum=0
for x in range(0,501):
    if x % 2==0:
        my_sum+=x
my_sum

62750

In [83]:
# 4b: alternative solution: we can also make range() take steps of 2:
my_sum=0
for x in range(0,501,2):
    my_sum+=x
my_sum

62750

In [85]:
# 4c: same as above, but now with modulo 7 instead of modulo 2
my_sum=0
for x in range(0,501):
    if not x % 7:
        my_sum+=x
my_sum

17892

*** 
## Task 5

Use a `while` loop and the assignment operator `+=` to calculate the sum of all numbers from 0 to 500. (Note: this is just a different way of solving task 2a).

> **Bonus:** Find an analytical expression to compute this sum with pen&paper.

**Solve Task 5**

In [86]:
# task 5
x=0
my_sum=0
while x<501:
    my_sum+=x
    x+=1
my_sum

125250

In [92]:
# altenative solution of task 5: make an "eternal" while loop, but break out of it when i becomes > 500
x=0
my_sum=0
while True:
    my_sum+=x
    x+=1
    if x==501:
        break
my_sum

125250

**Analytical expression for the sum:**

125250

***
## Task 6

Use a `for` loop **or** a `while` loop to find out how many integers (0 + 1 + 2 +3 ... + n) you need to sum up to obtain 253. (There are many different ways to do this! If you find just 1, that's enough :) 

**Hints** Think about how and when to break out of the loop; think about how to make sure that at each loop iteration, we increase by 1 the number that we are adding to the sum.

> We can (but we don't have to...) write this task as an equation, that we want to solve for `n`:

$\sum_{i=0}^{n}{i}=253$

**Solve Task 6**

In [90]:
# task 6
x=0
my_sum=0
while True:
    my_sum+=x
    x+=1
    if my_sum>=253:
        break
x

23

In [ ]:
# check with an analytical expression, as above in Task 5, if we coded everything correctly

***
## Task 7 - Find the bug


In the code below, somebody tried to remove all even numbers from a list by looping through the list *indeces*, and removing the list *element* if its value is equal to 2. 
* Why does this not work? What is the hidden danger in this code?
* Correct the code so that it removes all numbers "2" from the list! (there are several ways to do this)

```python
my_list = [2, 1, 2, 3, 4, 5]
for i in range(len(my_list)):
     if my_list[i] == 2:
        my_list.remove(my_list[i])
print(my_list)
```

In [94]:
# Find the bug in the code below!
my_list = [2, 1, 2, 3, 4, 5]
for i in range(len(my_list)-1,-1,-1):
    if my_list[i] == 2:
        my_list.remove(my_list[i])
print(my_list)

[1, 3, 4, 5]

In [97]:
my_list = [2, 1, 2, 3, 4, 5]
while 2 in my_list:
    my_list.remove(2)

print(my_list)

[1, 3, 4, 5]